<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskAPIBook</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h2>Test For Render.com</h2>
    <h1>FlaskAPIBook</h1>
    <pre>{{data.message}}</pre>

    <div>
        {% if data.authors %}
    <ul>
        {% for author in data.authors %}
            <li>{{ author.first_name }} (id: {{ author.id }})</li>
        {% endfor %}
    </ul>
        {% else %}
            <p>Brak autorów w bazie.</p>
        {% endif %}
    </div>
</body>
</html>